<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "bootstrap.min.js" %>
<%= javascript_include_tag "application.js" %>
<div class="slider">
    <ul id="slides" class="slides">
      <li>
        <div class="slider-image"><img src="/images/slide-image2.jpg" alt="" /></div>
      </li>
      <li>
        <div class="slider-image"><img src="/images/slide-image1.jpg" alt="" /></div>
      </li>
      <li>
        <div class="slider-image"><img src="/images/slide-image3.jpg" alt="" /></div>
      </li>
      <li>
        <div class="slider-image"><img src="/images/slide-image4.jpg" alt="" /></div>
      </li>
    </ul>
</div>


<div class="new-user">

  <div class="form-header"><p>BUY FULL SITE ACCESS NOW</p></div>
  
  <div class="signup-form">
    
    <div class="form-sub-header">Start your account</div>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
             
      <div class="field-email">
        <%= f.label :email, 'EMAIL ADDRESS' %>

        <%= f.email_field :email, autocomplete: "off", class: "form-field2" %>
      </div>

      <div class="field">
        <%= f.label :password, 'PASSWORD' %>
        <%= f.password_field :password, autocomplete: "off", class: "form-field2" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, 'PASSWORD CONFIRMATION' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-field2" %>
      </div>

      <div class="field">
        <%= f.label :first_name, 'FIRST NAME' %><br />
        <%= f.text_field :first_name, autocomplete: "off", class: "form-field2" %>
      </div>

      <div class="field">
        <%= f.label :last_name, 'LAST NAME' %><br />
        <%= f.text_field :last_name, autocomplete: "off", class: "form-field2" %>
      </div>
      
  </div>
  
  <div class="payment-form">
    
    <div class="form-sub-header"><p>Payment Method</p></div>

    <div class="field">

      <%= f.fields_for :subscription do |builder| %>
          <div class="field-card">
                <%= builder.label :card_type, "CARD TYPE" %><br />
                <%= builder.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]], {}, {class: "form-field2"} %>
              </div>

              <div class="field">
                <%= builder.label :card_number, "CREDIT CARD NUMBER" %><br />
                <%= builder.text_field :card_number, class: "form-field2" %>
              </div>
              
              <div class="row2">
                <div class="field dis">
                  <%= builder.label :first_name, "FIRST NAME" %><br />
                  <%= builder.text_field :first_name, class: "form-field-name" %>
                </div>

                <div class="field dis">
                  <%= builder.label :last_name, "LAST NAME" %><br />
                  <%= builder.text_field :last_name, class: "form-field-name" %>
                </div>
              </div>
            <div class="row2">
              <div class="field dis">
                <%= builder.label :card_expires_on, "EXPIRATION DATE" %><br />
                <%= builder.date_select :card_expires_on, {:discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true}, :html => {class: "form-field2"} %>
              </div>

              <div class="field dis fer">
                <%= builder.label :card_verification, "CVV2" %><br />
                <%= builder.text_field :card_verification, class: "form-field-card" %>
              </div>
            </div>
          </div>
  </div>
  
  <div class="address">
    
    <div class="form-sub-header"><p>Billing Address</p></div>
    
    <div class="field-country">
      <%= builder.label :country, "COUNTRY" %><br />
      <%= builder.text_field :country, class: "form-field2" %>
    </div>

    <div class="field">
      <%= builder.label :state, "STATE" %><br />
      <%= builder.text_field :state, class: "form-field2" %>
    </div>
    
    <div class="row2">
      <div class="field dis">
        <%= builder.label :city, "CITY" %><br />
        <%= builder.text_field :city, class: "form-field-name" %>
      </div>

      <div class="field dis">
        <%= builder.label :postal_code, "POSTAL CODE" %><br />
        <%= builder.text_field :postal_code, class: "form-field-name" %>
      </div>
    </div>

    <% end %>  
  </div>

      <% if resource.subscription.errors.full_messages.any? || resource.errors.full_messages.any? %>
          <div class="modal" id="rmyModal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">

                    <% if resource.errors.full_messages.any? %>
                      <ul>  
                        <% resource.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                    <% end %>
                    
                    <%# if resource.subscription.errors.full_messages.any? %>
                    <% if false %>
                      <ul>  
                        <% resource.subscription.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                    <% end %>

                  </div>
                </div>
              </div>
          </div>
          <%= javascript_tag do -%>
            $('#rmyModal').modal();
          <% end -%>

      <% end %>
      <div class="actions sub">
        <%= f.submit "", class: "submit"%>
      </div>

<% end %>


  <div class="price">
    <p>$99</p>
  </div>

  <div class="script">
    <p class="big-script">START LEARNING NOW!</p>
  </div>
  
  <div class="lil-script">
    <p>1 full year of training and support</p>
  </div>

  
    <img src="/images/purchase-page-img.png" class="rep"/>

</div>


<script type="text/javascript">
  <!--
  $(document).ready(function() {
    $(".swipebox").swipebox();
    $("ul#slides").responsiveSlides({
      timeout: 5000,
      speed: 800,
      pager: false,
      nav: false,
      maxwidth: 960
    });
    $("ul#quotes").responsiveSlides({
      timeout: 5000,
      speed: 800,
      pager: false,
      nav: false,
      maxwidth: 960
    });
    $("ul#courses").responsiveSlides({
      timeout: 5000,
      speed: 800,
      pager: true,
      nav: false,
      maxwidth: 960
    });
    $("ul#gamernews").responsiveSlides({
      timeout: 5000,
      speed: 800,
      pager: true,
      nav: false,
      maxwidth: 960
    });
  });
  // -->
</script>